.products__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    padding: 2rem 1.5rem;
}

.product__card {
    /* box-shadow: 0 0 2px var(--clr-nav-bottom); */
    padding: 2rem;
    background-color: var(--clr-white);
    color: var(--clr-text-1);
    position: relative;
}

.product__info {
    margin-top: 1.5rem;
}

.product__info .desc {
    margin: 0.5rem 0;
}

.product__info .product__price {
    color: var(--clr-text-2);
}

.rank {
    position: absolute;
    top: 0;
    left: 0;
    background-color: burlywood;
    color: var(--clr-white);
    padding: 0.35rem;
    border-bottom-right-radius: 0.8rem;

}